


/* Resetar CSS do meu projeto */

:root{
    --primary-color:#0f4c81;
    --secondary-color:#58a6ff;
    --accent1-color:#ffffff;
    --accent2-color:#222;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
}

/* CABEÇALHO */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
}

/* LOGO */
header img{
    width:180px;
}

/* MENU */

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav{
    background:var(--primary-color);
    padding:15px;
}



nav a{
    color:var(--accent1-color);
    text-decoration:none;
}

.hero{
    position:relative;
}

.hero > img{
    width:100%;
    height:500px;
    object-fit:cover;
    display:block;
}

.hero h1{
    position:absolute;
    top:30px;
    width:100%;
    text-align:center;
    color:white;

    background:rgba(0,0,0,.5);
    padding:15px;
}

.hero article{
    position:absolute;
    bottom:30px;
    left:50px;
    width:80%;
    background:rgba(255,255,255,.8);
    padding:20px;
}

/* imagem do artigo */

.hero article img{
    width:150px;
    float:right;
    margin-left:15px;
}

/* texto */

p{
    padding:10px 0;
}

/* redes sociais */

.socialmedia{
    display:flex;
    justify-content:center;
    gap:20px;
}



/* rodapé */

footer{
    text-align:center;
    padding:20px;
}



/* Seletores de Classe */


.caixa {
    border: 1px solid rgba(0 0 0 / 10%);
    padding: 1rem;
    margin: 1rem;
    background-color: #ddd;
    color: #000;
}

.indentacao {
    padding-left: 2rem;
}