/* Resetar CSS do meu projeto */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: darkblue;
    padding: 10px;
    }

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

p {
    padding: 10px;
    }

aside {
    width: 20rem; 
    color: #333;
    text-align: center;
    position: relative;
}

aside img {
    width: 100px
    heigth: auto;

}

aside h2 {
    position: absolute;
    top: 70px;
    left: 120px;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Seletores de Classe */

.caixa {
    border: 1px solid rgba(0 0 0 / 10%);
    padding: 1rem;
    margin: 1rem;
    background-color: #ddd;
    color: #000;
}

.indentacao {
    padding-left: 2rem;
}